@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: theme('fontFamily.body');
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: theme('fontFamily.heading');
  }
}
